<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$titre</title>
</head>
<body>
    <h1>detail sur la pathologie cliquée</h1>
    <p>cette patho appartient au méridien .... et fait parti du ... (yin ou yang).</p>
    <p>Les sympthômes possibles sont :
        <ul>
            <li class="sympt">Sympt1</li>
            <li class="sympt">Sympt2</li>
            <li class="sympt">Sympt3</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
            <li class="sympt">Sympt4</li>
        </ul>
    </p>
</body>
</html>