<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/view/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <header>
        <a href="/view/html/index.html"><img class="logo" src="/view/images/logo.png" alt="Le logo du BEMS"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="/view/html/sources.html">Sources</a></li>
            </ul>
        </nav>
        <a class="cta btn"  href="/view/html/login.html"><img src="/view/images/connexion.png" alt="Connexion" width="30" height="30"></a>
    </header>
    <div class="contenant">
        <img class="photo_accueil" src="/view/images/acu_secu.jpg" alt="Image de fond du site de BEMS montrant une scéance d'acupuncture sur le dos" height="80%" width="100%">
        <div class="texte_centrer" style="font-family: Lucida Handwriting, cursive; font-size: 3cm;">BEMS<br>Brigade Erudie de Médecine et de Santé</div>
    </div>
    <section>
        <center><h2>Accueil</h2></center>
        <p class="centré">
            Bonjour, nous vous souhaitons la bienvenue sur notre site collaboratif des acupuncteurs de la médecine chinoise.<br><br>
            Dans un monde où la planète Terre se meurt, où l'impact humanitaire de la civilisation exploite les
            ressources de ce monde dans un consumérisme effeiné. En étant conscient de ces problèmes existanciels,
            nous proposons une approche nouvelle de la médecine de l'esprit, de la médecine des chacras.
            En utilisant tous notre savoir en le corps et les méridiens, nous guérissons les maux de quelque type
            que ce soit.<br>

            Notre vision du renouveau de la médecine est un élément essenciel dans la pratique de la médecine
            traditionnelle chinoise <br>
            Nam eu ligula id magna aliquet ullamcorper. Aenean non quam neque. Pellentesque suscipit lorem eu 
            massa placerat consequat et et est. Aenean sem metus, ullamcorper aliquam posuere id, porttitor eget 
            velit. Donec nisi nulla, placerat quis aliquet sodales, lobortis quis lacus. Suspendisse efficitur, 
            dui non congue ullamcorper, augue erat accumsan tellus, in laoreet felis odio ut leo. Aliquam 
            fermentum felis sed turpis ullamcorper congue. Proin pellentesque at ligula sed eleifend. Nunc nisl 
            ipsum, egestas id lorem in, suscipit bibendum nunc. Maecenas quis dolor sed eros accumsan ultrices 
            in non nisl. Sed aliquam, augue eget mollis pellentesque, diam nisl placerat nisi, a vestibulum 
            purus nulla vitae leo. 
        </p>
    </section>
    <section>
        <center><h2>Présentation</h2></center>
        <p class="centré">
            Présentation du propos du site web dans sa globalité. <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nibh vel nulla efficitur laoreet
            eget at libero. Donec faucibus convallis augue. Donec non dolor eget diam dapibus euismod aliquet in 
            erat. Nunc nec vehicula turpis. Cras elementum eros tortor, ac rutrum dui tincidunt egestas. Nulla ac 
            massa in ligula vulputate aliquet. In pretium magna ipsum. Morbi et molestie erat, sed egestas nisl. 
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis laoreet, 
            sapien et imperdiet fringilla, nulla ante tempor dolor, vel porttitor augue erat ut enim. Proin sed urna 
            eu mauris eleifend malesuada.

            Mauris mollis iaculis urna, sed varius mauris varius non. Praesent cursus velit eget metus tempus, et 
            feugiat mauris finibus. Aenean pharetra nisi id aliquet suscipit. Cras auctor porttitor massa et suscipit. 
            Aenean mattis velit a risus iaculis posuere. Ut suscipit nec mi eu efficitur. Donec sed libero non ligula 
            faucibus convallis. Integer viverra nisl euismod, congue lectus eget, tincidunt lectus. Nam auctor id orci 
            sit amet mollis. Vestibulum consectetur, magna ut congue suscipit, justo nunc dictum ligula, vitae faucibus 
            velit leo eget diam. Fusce sollicitudin eleifend gravida. Phasellus imperdiet pulvinar ipsum, ut mollis 
            nibh. Suspendisse at erat venenatis, interdum tellus vestibulum, hendrerit erat. Cras sagittis gravida est 
            sit amet luctus. 
        </p>
    </section>
    <div>
        <p class="centré">J'aimerais bien mettre sur le coté droit ou gauche du site, des news à la con sur les acupuncteurs avec des petites photos et tout<br></p>
    </div>
    <div>
        <center>
            <p class="centré">Connectez-vous pour pouvoir profiter de tous les avantages que propose notre site Web.<br></p>
            <a href="login.html">
                <button name="Connexion" id="connexion">Se connecter</button>
            </a>
            <a href="search.html">
                <p id="continuer_sans_connexion">
                    Cliquez ici pour continuer sans vous connecter.
                </p>
            </a>
        </center>
    </div>
    <footer>
            <a href="/view/html/index.html"><img class="logo" src="/view/images/logo.png" alt="BEMS"></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="/view/html/sources.html">Sources</a></li>
                    <li><a href="/view/html/policy.html">Privacy policy</a></li>
                </ul>
            </nav>
            <a class="cta btn"  href="/view/html/login.html"><img src="/view/images/connexion.png" alt="Connexion" width="30" height="30"></a>
    </footer>
</body>
</html>