<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel='stylesheet' href="../css/sources.css">
    <link rel="stylesheet" href="../css/header.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="./index.html">
            <img class="logo" src="../images/logo.png" alt="Le logo du BEMS">
        </a>
        <a class="btn decale"  href="./search.html"><img src="../images/picto_loupe.png" alt="Recherche" width="30" height="30"></a>
        <a class="btn"  href="./login.html"><img src="../images/connexion.png" alt="Connexion" width="30" height="30"></a>
    </header>

    <div>
        <pre>
            page de sources avec la webographie et les sources
            mettre qui nous sommes
        </pre>
    </div>
    <div>
        <p>Nous allons maintenant présenter les membres fondateurs de la Brigade Erudie de Médecine et de Santé</p>
        <pre>
            Commençons par le commencement, nous nous devons de présenter Mr. Maxime Curral.
            Il s'est révélé en réelle force de la nature, comme le représentant en communication
            du collectif et nous guide sur un chemin axé vers la médecine chinoise renforcée et 
            responsable.
            
            Poursuivons, les présentations par Mr. Alexandre BURLOT. Cet homme...

            Comment pourrions-nous passer en revue les énergumens importants de ce projet sans 
            évoquer Mr. Farès Zaghouane. Nous parlons ici d'un individu ayant un véritable esprit 
            de dirigeant. Il est investi dans le projet depuis peu et pourtant, il a su prendre
            le lead pour le bon fonctionnement du site internet.

            Nous pourrons aussi continuer le tour d'horizon en présentant Mr. Romain Gaud notre 
            pilier pour la finance de ce projet. Tel un funambule, et s'est balancé sur le fil 
            tendu du budget et se mit à la recherche de financements et à été d'une aide précieuse.
            C'est une personne hors-pair, un être à part qui marche avec notre équipe de choc.
            (PS : Le collectif se dédoine de toute tentative de détournement de fond par hacking ou 
            usage de backdoors de quelque sorte que ce soit.)

            Et quoi de mieux que de terminer par la présentation de notre atout vraiment insoupsonné,
            Mr. Romain Galmier. Un bon vivant avec un grand coeur qui s'est passionné pour les relations
            humaines. Ses critiques avisés et précieuses ont réussi à mettre sur la voie de la perfection
            les membres de cette équipe.
            
        </pre>
    </div>
    <footer>
        <a href="./index.html">
            <img class="logo" src="../images/logo.png" alt="BEMS">
        </a>

        <nav>
            <ul class="nav_links">
                <li><a href="./sources.html">Sources</a></li>
                <li><a href="./policy.html">Privacy policy</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>