@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a,button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    padding: 2px 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* pour la satisfaction du critère d'accessibilité AAA du site web */
p {
    font-size: 120%;
    line-height: 1.5em;
    margin: 1.5em 0;
}

header{
    background-color: black;
    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 2cm;
}

.contenant {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer{
    background-color: black;
    position: relative;
    bottom: 0;
    /* top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 4cm;
}

body{
    background-color: rgb(209, 208, 208);
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.logo{
    cursor: pointer;
    max-width: 10%;
    max-height: 10%;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: turquoise;
}
.btn{
    padding: 0px 0px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.btn:hover{
    background-color: rgba(0,136,169,0.8);
}

#connexion {
    box-sizing: border-box;
    float: left;
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 17.5px 10px;
    text-decoration: none;
    width: 15%;
    height: 50px;
    margin-bottom: 0%;
    margin-top: 0%;
}

#connexion:hover {
    background-color: rgb(70, 70, 70);
    display: block;
    height:25%;

}

#contact {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    justify-content: center;
}

.contact a:hover {
    color: rgb(163, 160, 1);
}

#auteur{
    display: flex;
    justify-content: center; 
}

#titre {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
}

#texte {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 60pt;
    color: black;
    display: flex;
    justify-content: center;
    
}
.souligne {
    position: relative;
    text-decoration: none;
}
  
.souligne:hover {
    color: #000;
}
  
.souligne::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.souligne:hover::before {
    transform: scaleX(1);
}