<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <div class="general">
        <form class="form login" id="login_form" method="POST" action="../controller/login.php">
            <div class="user">
                <div class = "header">
                    <p>Utilisateur:</p>
                </div>
                <div class="entry" >
                    <input type="text" class="login_text" id="user">
                </div>
            </div>
            <div class="password">
                <div class = "header">
                    <p>Mot de passe:</p>
                </div>
                <div class="entry">
                    <input type="text" class="login_text" id="password">
                </div>
            </div>
            <div class="button">
                <button class="button" id="login_button" type="submit" >Valider</button>
            </div>
        </form>
    </div>
    
</body>
</html>